{% extends './templates/_layout.twig' %}
{% set title = "SHOPPING CART" %}
{% set titlePage = "SHOPPING CART" %}
{% set description = "Description for SHOPPING CART page" %}
{% set featured = "false" %}

{% block content %}
  {% include './templates/_header__page.twig' %}

  <main class="cart container">
    <div class="cart__content">
      <section class="cart__products">
        <div class="cart__products-item">

        </div>
      </section>
    </div>
  </main>
{% endblock %}
