{% extends './templates/_layout.twig' %}
{% set title = "Catalog Luxerious fashion" %}
{% set titlePage = "NEW ARRIVALS" %}
{% set description = "Description for catalog page" %}
{% set breadcrumb = "true" %}

{% block content %}
{% include './templates/_header__page.twig' %}

<main class="catalog container">
  <div class="catalog__sorting">
    <!-- Begin: filter -->
    <div class="filter">
      <div class="filter__label js-filter__label">
        <span class="filter__label-text">FILTER</span>
        <svg class="filter__label-decor">
          <use xlink:href="assets/img/sprite.svg#filter"></use>
        </svg>
      </div>

      <div class="filter__fly">
        <div class="filter__box">
          <div class="filter__box-title acc acc__active js-collapse">CATEGORY</div>

          <ul class="filter__menu acc__content list__unstyled">
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Accessories</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Bags</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Denim</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Hoodies & Sweatshirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Jackets & Coats</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Polos</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Shirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Shoes</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Sweaters & Knits</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">T-Shirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Tanks</a>
            </li>
          </ul>
        </div>

        <div class="filter__box">
          <div class="filter__box-title acc js-collapse">BRAND</div>

          <ul class="filter__menu acc__content list__unstyled">
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Accessories</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Bags</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Denim</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Hoodies & Sweatshirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Jackets & Coats</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Polos</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Shirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Shoes</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Sweaters & Knits</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">T-Shirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Tanks</a>
            </li>
          </ul>
        </div>

        <div class="filter__box">
          <div class="filter__box-title acc js-collapse">DESIGNER</div>

          <ul class="filter__menu acc__content list__unstyled">
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Accessories</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Bags</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Denim</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Hoodies & Sweatshirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Jackets & Coats</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Polos</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Shirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Shoes</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Sweaters & Knits</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">T-Shirts</a>
            </li>
            <li class="filter__menu-item">
              <a href="#" class="filter__menu-link">Tanks</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End: filter -->


    <!-- Begin: sorting -->
    <div class="sorting">
      <div class="sorting__box">
        <div class="sorting__box-heading acc js-collapse">
          TRENDING NOW
          <svg class="sorting__box-decor">
            <use xlink:href="assets/img/sprite.svg#chevron"></use>
          </svg>
        </div>

        <ul class="sorting__dropdown acc__content list__unstyled">
          <li>
            <label class="custom__control">
              <input type="checkbox" class="custom__control-input">
              <span class="custom__checkbox custom__control-label">New</span>
            </label>
          </li>
          <li>
            <label class="custom__control">
              <input type="checkbox" class="custom__control-input">
              <span class="custom__checkbox custom__control-label">Hit</span>
            </label>
          </li>
          <li>
            <label class="custom__control">
              <input type="checkbox" class="custom__control-input">
              <span class="custom__checkbox custom__control-label">Bio</span>
            </label>
          </li>
        </ul>
      </div>

      <div class="sorting__box">
        <div class="sorting__box-heading acc js-collapse">
          SIZE
          <svg class="sorting__box-decor">
            <use xlink:href="assets/img/sprite.svg#chevron"></use>
          </svg>
        </div>

        <ul class="sorting__dropdown acc__content list__unstyled">
          <li>
            <label class="custom__control">
              <input type="checkbox" class="custom__control-input">
              <span class="custom__checkbox custom__control-label">XS</span>
            </label>
          </li>
          <li>
            <label class="custom__control">
              <input type="checkbox" class="custom__control-input">
              <span class="custom__checkbox custom__control-label">S</span>
            </label>
          </li>
          <li>
            <label class="custom__control">
              <input type="checkbox" class="custom__control-input">
              <span class="custom__checkbox custom__control-label">M</span>
            </label>
          </li>
          <li>
            <label class="custom__control">
              <input type="checkbox" class="custom__control-input">
              <span class="custom__checkbox custom__control-label">L</span>
            </label>
          </li>
        </ul>
      </div>

      <div class="sorting__box">
        <div class="sorting__box-heading acc js-collapse">
          PRICE
          <svg class="sorting__box-decor">
            <use xlink:href="assets/img/sprite.svg#chevron"></use>
          </svg>
        </div>

        <ul class="sorting__dropdown acc__content list__unstyled">
          <li>
            <label class="custom__control">
              <input type="radio" name="radio01" class="custom__control-input" checked>
              <span class="custom__radio custom__control-label">up to $1 000</span>
            </label>
          </li>
          <li>
            <label class="custom__control">
              <input type="radio" name="radio01" class="custom__control-input">
              <span class="custom__radio custom__control-label">up to $3 000</span>
            </label>
          </li>
          <li>
            <label class="custom__control">
              <input type="radio" name="radio01" class="custom__control-input">
              <span class="custom__radio custom__control-label">up to $5 000</span>
            </label>
          </li>
          <li>
            <label class="custom__control">
              <input type="radio" name="radio01" class="custom__control-input">
              <span class="custom__radio custom__control-label">from $10 000</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: sorting -->
  </div>

  <section class="product__list">
    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-01.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-07.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-03.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-04.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-08.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-09.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-10.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-11.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-12.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/sprite.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>
  </section>

  <nav class="catalog__pagination">
    <ul class="pagination">
      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link-arrow">
          <svg class="pagination__link-prev">
            <use xlink:href="assets/img/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link-current">1</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">2</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">3</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">4</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">5</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">6</a>
      </li>
      <li class="pagination__item">
        <span class="pagination__ellipsis">...</span>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">20</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link-arrow">
          <svg class="pagination__link-next">
            <use xlink:href="assets/img/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}
