{% extends './templates/_layout.twig' %}
{% set title = "Catalog Luxerious fashion" %}
{% set titlePage = "NEW ARRIVALS" %}
{% set description = "Description for catalog page" %}
{% set breadcrumb = "true" %}

{% block content %}
{% include './templates/_header__page.twig' %}

<main class="catalog container">
  <div class="catalog__sorting">
    <div class="catalog__filter">
      <div class="catalog__filter-label">
        FILTER
        <svg class="catalog__filter-decor">
          <use xlink:href="assets/img/icons.svg#arrow"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="product__list">
    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-01.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-07.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-03.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-04.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-08.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-09.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-10.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-11.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>

    <div class="product__item">
      <div class="product__media">
        <img src="assets/img/products/img-12.jpg" alt="">

        <div class="product__add">
          <button type="button" class="btn btn__cart">
            <svg class="btn__cart-icon">
              <use xlink:href="assets/img/icons.svg#basket"></use>
            </svg>
            Add to Cart
          </button>
        </div>
      </div>

      <div class="product__boxed">
        <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

        <p class="product__boxed-text">
          Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
        </p>

        <div class="product__boxed-cost">$52.00</div>
      </div>
    </div>
  </div>

  <nav class="catalog__pagination">
    <ul class="pagination">
      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link-arrow">
          <svg class="pagination__link-prev">
            <use xlink:href="assets/img/icons.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link-current">1</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">2</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">3</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">4</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">5</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">6</a>
      </li>
      <li class="pagination__item">
        <span class="pagination__ellipsis">...</span>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">20</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link-arrow">
          <svg class="pagination__link-next">
            <use xlink:href="assets/img/icons.svg#arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}
