{% extends './templates/_layout.twig' %}
{% set title = "The brand of Luxerious fashion" %}
{% set description = "“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“" %}

{% block content %}
<header class="home__header">
  <div class="home__header-inner container">
    <h1 class="home__title">
      <span class="home__title-brand">THE BRAND</span>
      OF LUXERIOUS <span class="home__title-hit">FASHION</span>
    </h1>
  </div>
</header>

<main class="container">
  <section class="offers ">
    <div class="offers__item">
      <div class="offers__box">
        <div class="offers__box-top">30% OFF</div>
        <div class="offers__box-bottom">FOR WOMEN</div>
      </div>
      <img src="assets/img/offers/img-01.jpg" alt="">
    </div>

    <div class="offers__item">
      <div class="offers__box">
        <div class="offers__box-top">HOT DEAL</div>
        <div class="offers__box-bottom">FOR MEN</div>
      </div>
      <img src="assets/img/offers/img-02.jpg" alt="">
    </div>

    <div class="offers__item">
      <div class="offers__box">
        <div class="offers__box-top">NEW ARRIVALS</div>
        <div class="offers__box-bottom">FOR KIDS</div>
      </div>
      <img src="assets/img/offers/img-03.jpg" alt="">
    </div>

    <div class="offers__item">
      <div class="offers__box">
        <div class="offers__box-top">LUXIROUS & TRENDY</div>
        <div class="offers__box-bottom">ACCESSORIES</div>
      </div>
      <img src="assets/img/offers/img-04.jpg" alt="">
    </div>
  </section>

  <section class="product">
    <h2 class="product__title">Featured Items</h2>
    <p class="product__text">Shop for items based on what we product in this week</p>

    <div class="product__list">
      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-01.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-02.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-03.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-04.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-05.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-06.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>
    </div>

    <div class="product__more">
      <a href="#" class="btn__light btn">Browse All Product</a>
    </div>
  </section>
</main>

<section class="featured">
  <div class="featured__inner container">
    <div class="featured__box">
      <svg class="featured__icon">
        <use xlink:href="assets/img/icons.svg#delivery"></use>
      </svg>

      <h3 class="featured__title">Free Delivery</h3>

      <div class="featured__text">
        Worldwide delivery on all. Authorit tively morph next-generation innovation with extensive models.
      </div>
    </div>

    <div class="featured__box">
      <svg class="featured__icon">
        <use xlink:href="assets/img/icons.svg#sale"></use>
      </svg>

      <h3 class="featured__title">Sales & discounts</h3>

      <div class="featured__text">
        Worldwide delivery on all. Authorit tively morph next-generation innovation with extensive models.
      </div>
    </div>

    <div class="featured__box">
      <svg class="featured__icon">
        <use xlink:href="assets/img/icons.svg#quality"></use>
      </svg>

      <h3 class="featured__title">Quality assurance</h3>

      <div class="featured__text">
        Worldwide delivery on all. Authorit tively morph next-generation innovation with extensive models.
      </div>
    </div>
  </div>
</section>

<section class="subscribe">
  <div class="subscribe__inner container">
    <aside class="subscribe__call">
      <img src="assets/img/media/intersect.png" alt="">

      <blockquote class="subscribe__call-quote">
        “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“
      </blockquote>
    </aside>

    <form action="#" class="subscribe__form">
      <h4 class="subscribe__form-title">SUBSCRIBE</h4>

      <div class="subscribe__form-text">FOR OUR NEW LETTER AND PROMOTION</div>

      <div class="subscribe__form-wrap">
        <input type="email" class="subscribe__form-input form__field form__placeholder" placeholder="Enter Your Email">
        <button class="subscribe__form-submit btn">Subscribe</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
