{% extends './templates/_layout.twig' %}
{% set title = "The brand of Luxerious fashion" %}
{% set description = "“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“" %}

{% block content %}
<header class="home__header">
  <div class="home__header-inner container">
    <h1 class="home__title">
      <span class="home__title-brand">THE BRAND</span>
      OF LUXERIOUS <span class="home__title-hit">FASHION</span>
    </h1>
  </div>
</header>

<main class="container">
  <section class="offers ">
    <div class="offers__item">
      <div class="offers__box">
        <div class="offers__box-top">30% OFF</div>
        <div class="offers__box-bottom">FOR WOMEN</div>
      </div>
      <img src="assets/img/offers/img-01.jpg" alt="">
    </div>

    <div class="offers__item">
      <div class="offers__box">
        <div class="offers__box-top">HOT DEAL</div>
        <div class="offers__box-bottom">FOR MEN</div>
      </div>
      <img src="assets/img/offers/img-02.jpg" alt="">
    </div>

    <div class="offers__item">
      <div class="offers__box">
        <div class="offers__box-top">NEW ARRIVALS</div>
        <div class="offers__box-bottom">FOR KIDS</div>
      </div>
      <img src="assets/img/offers/img-03.jpg" alt="">
    </div>

    <div class="offers__item">
      <div class="offers__box">
        <div class="offers__box-top">LUXIROUS & TRENDY</div>
        <div class="offers__box-bottom">ACCESSORIES</div>
      </div>
      <img src="assets/img/offers/img-04.jpg" alt="">
    </div>
  </section>

  <section class="home__products">
    <h2 class="home__products-title">Featured Items</h2>

    <p class="home__products-text">Shop for items based on what we product in this week</p>

    <div class="product__list">
      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-01.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-02.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-03.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-04.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-05.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>

      <div class="product__item">
        <div class="product__media">
          <img src="assets/img/products/img-06.jpg" alt="">

          <div class="product__add">
            <button type="button" class="btn btn__cart">
              <svg class="btn__cart-icon">
                <use xlink:href="assets/img/icons.svg#basket"></use>
              </svg>
              Add to Cart
            </button>
          </div>
        </div>

       <div class="product__boxed">
         <h3 class="product__boxed-title">ELLERY X M'O CAPSULE</h3>

         <p class="product__boxed-text">
           Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
         </p>

         <div class="product__boxed-cost">$52.00</div>
       </div>
      </div>
    </div>

    <div class="product__more">
      <a href="#" class="btn__light btn">Browse All Product</a>
    </div>
  </section>
</main>
{% endblock %}
