{% if featured != "false" %}
<section class="b-featured">
  <div class="b-featured__inner b-container">
    <div class="b-featured__box">
      <svg class="b-featured__icon">
        <use xlink:href="assets/img/sprite.svg#delivery"></use>
      </svg>

      <h3 class="b-featured__title">Free Delivery</h3>

      <div class="b-featured__text">
        Worldwide delivery on all. Authorit tively morph next-generation innovation with extensive models.
      </div>
    </div>

    <div class="b-featured__box">
      <svg class="b-featured__icon">
        <use xlink:href="assets/img/sprite.svg#sale"></use>
      </svg>

      <h3 class="b-featured__title">Sales & discounts</h3>

      <div class="b-featured__text">
        Worldwide delivery on all. Authorit tively morph next-generation innovation with extensive models.
      </div>
    </div>

    <div class="b-featured__box">
      <svg class="b-featured__icon">
        <use xlink:href="assets/img/sprite.svg#quality"></use>
      </svg>

      <h3 class="b-featured__title">Quality assurance</h3>

      <div class="b-featured__text">
        Worldwide delivery on all. Authorit tively morph next-generation innovation with extensive models.
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="b-subscribe">
  <div class="b-subscribe__inner b-container">
    <aside class="b-subscribe__call">
      <img src="assets/img/media/intersect.png" alt="">

      <blockquote class="b-subscribe__call-quote">
        “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“
      </blockquote>
    </aside>

    <form action="#" class="b-subscribe__form">
      <h4 class="b-subscribe__form-title">SUBSCRIBE</h4>

      <div class="b-subscribe__form-text">FOR OUR NEW LETTER AND PROMOTION</div>

      <div class="b-subscribe__form-wrap">
        <input type="email" class="b-subscribe__form-input b-form__field b-form__placeholder" placeholder="Enter Your Email">
        <button class="b-subscribe__form-submit b-btn">Subscribe</button>
      </div>
    </form>
  </div>
</section>

<footer class="b-footer">
  <div class="b-footer__inner b-container">
    <ul class="b-footer__social">
      <li class="b-footer__social-item">
        <a href="#" rel="nofollow" target="_blank">
          <svg class="b-footer__social-icon">
            <use xlink:href="assets/img/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>

      <li class="b-footer__social-item">
        <a href="#" rel="nofollow" target="_blank">
          <svg class="b-footer__social-icon">
            <use xlink:href="assets/img/sprite.svg#inst"></use>
          </svg>
        </a>
      </li>

      <li class="b-footer__social-item">
        <a href="#" rel="nofollow" target="_blank">
          <svg class="b-footer__social-icon">
            <use xlink:href="assets/img/sprite.svg#pinterest"></use>
          </svg>
        </a>
      </li>

      <li class="b-footer__social-item">
        <a href="#" rel="nofollow" target="_blank">
          <svg class="b-footer__social-icon">
            <use xlink:href="assets/img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div>&copy; 2022 Brand All Rights Reserved.</div>
  </div>
</footer>


<script src="assets/js/scripts.min.js?ver=1.2"></script>
