<footer class="footer">
  <div class="footer__inner container">
    <ul class="footer__social">
      <li class="footer__social-item">
        <a href="#" rel="nofollow" target="_blank">
          <svg class="footer__social-icon">
            <use xlink:href="assets/img/icons.svg#fb"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social-item">
        <a href="#" rel="nofollow" target="_blank">
          <svg class="footer__social-icon">
            <use xlink:href="assets/img/icons.svg#inst"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social-item">
        <a href="#" rel="nofollow" target="_blank">
          <svg class="footer__social-icon">
            <use xlink:href="assets/img/icons.svg#pinterest"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social-item">
        <a href="#" rel="nofollow" target="_blank">
          <svg class="footer__social-icon">
            <use xlink:href="assets/img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div>&copy; 2021 Brand All Rights Reserved.</div>
  </div>
</footer>


<script src="assets/js/scripts.min.js?ver=1.0"></script>
