<header class="b-header__page">
  <div class="b-header__page-inner b-container">
    <h1 class="b-header__page-title">{{ titlePage }}</h1>

    {% if breadcrumb == "true" %}
    <ol class="b-breadcrumb">
      <li class="b-breadcrumb__item">
        <a href="index.html" class="b-breadcrumb__link">HOME</a>
      </li>
      <li class="b-breadcrumb__item">
        <a href="catalog.html" class="b-breadcrumb__link">MEN</a>
      </li>
      <li class="b-breadcrumb__item b-breadcrumb__item__active" aria-current="page">
        NEW ARRIVALS
      </li>
    </ol>
    {% endif %}
  </div>
</header>
