<div class="b-top">
  <div class="b-top__inner b-container">
    <a href="index.html" class="b-top__logo">
      <img src="assets/img/logo.svg" class="b-top__logo-img" alt="The brand of Luxerious fashion">
    </a>

    <div class="b-top__search">
      <svg class="b-top__search-icon">
        <use xlink:href="assets/img/sprite.svg#search"></use>
      </svg>
    </div>

    <div class="b-top__toggle">
      <button type="button" class="b-top__toggle-btn js-top__toggle"></button>
    </div>

    <a href="reg.html" class="b-top__login">
      <svg class="b-top__login-icon">
        <use xlink:href="assets/img/sprite.svg#user"></use>
      </svg>
    </a>

    <div class="b-top__basket" data-basket-amount="0">
      <svg class="b-top__basket-icon">
        <use xlink:href="assets/img/sprite.svg#basket"></use>
      </svg>
    </div>


    <!-- Begin float menu -->
    <nav class="b-menu">
      <div class="b-menu__title">MENU</div>

      <div class="b-menu__boxed">
        <a href="#" class="b-menu__boxed-category">MAN</a>

        <ul class="b-menu__list">
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Accessories</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Bags</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Denim</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">T-Shirts</a>
          </li>
        </ul>
      </div>

      <div class="b-menu__boxed">
        <a href="#" class="b-menu__boxed-category">WOMAN</a>

        <ul class="b-menu__list">
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Accessories</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Jackets & Coats</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Polos</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">T-Shirts</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Shirts</a>
          </li>
        </ul>
      </div>

      <div class="b-menu__boxed">
        <a href="#" class="b-menu__boxed-category">KIDS</a>

        <ul class="b-menu__list">
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Accessories</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Jackets & Coats</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Polos</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">T-Shirts</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Shirts</a>
          </li>
          <li class="b-menu__list-item">
            <a href="#" class="b-menu__list-link">Bags</a>
          </li>
        </ul>
      </div>

      <button class="b-menu__close js-menu__close">
        <svg class="b-menu__close-icon">
          <use xlink:href="assets/img/sprite.svg#close"></use>
        </svg>
      </button>
    </nav>
    <!-- End float menu -->
  </div>
</div>
