<div class="top">
  <div class="top__inner container">
    <a href="index.html" class="top__logo">
      <img src="assets/img/logo.svg" class="top__logo-img" alt="The brand of Luxerious fashion">
    </a>

    <div class="top__search">
      <svg class="top__search-icon">
        <use xlink:href="assets/img/icons.svg#search"></use>
      </svg>
    </div>

    <div class="top__toggle">
      <button type="button" class="top__toggle-btn js-top__toggle"></button>
    </div>

    <a href="#" class="top__login">
      <svg class="top__login-icon">
        <use xlink:href="assets/img/icons.svg#user"></use>
      </svg>
    </a>

    <a href="#" class="top__basket" data-basket-amount="5">
      <svg class="top__basket-icon">
        <use xlink:href="assets/img/icons.svg#basket"></use>
      </svg>
    </a>


    <!-- Begin float menu -->
    <nav class="menu">
      <div class="menu__title">MENU</div>

      <div class="menu__boxed">
        <a href="#" class="menu__boxed-category">MAN</a>

        <ul class="menu__list">
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Accessories</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Bags</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Denim</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">T-Shirts</a>
          </li>
        </ul>
      </div>

      <div class="menu__boxed">
        <a href="#" class="menu__boxed-category">WOMAN</a>

        <ul class="menu__list">
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Accessories</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Jackets & Coats</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Polos</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">T-Shirts</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Shirts</a>
          </li>
        </ul>
      </div>

      <div class="menu__boxed">
        <a href="#" class="menu__boxed-category">KIDS</a>

        <ul class="menu__list">
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Accessories</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Jackets & Coats</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Polos</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">T-Shirts</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Shirts</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Bags</a>
          </li>
        </ul>
      </div>

      <button class="menu__close js-menu__close">
        <svg class="menu__close-icon">
          <use xlink:href="assets/img/icons.svg#close"></use>
        </svg>
      </button>
    </nav>
    <!-- End float menu -->
  </div>
</div>
