.b-featured {
  background-color: $blackColor;
}

.b-featured__box {
  padding: 0 20px;
  text-align: center;
}

.b-featured__icon {
  width: 48px;
  height: 63px;
  margin: 0 auto;
  display: block;
}

.b-featured__title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  font-weight: 400;
}

.b-featured__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

@media (min-width: 700px) {
  .b-featured__inner {
    padding-top: 103px;
    padding-bottom: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width: 699px) {
  .b-featured__inner {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .b-featured__box:not(:last-of-type) {
    margin-bottom: 42px;
  }
}
