.subscribe__call {
  margin-right: auto;
  text-align: center;
}

.subscribe__call-quote {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
}

.subscribe__form-title {
  margin-bottom: 0;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__form-text {
  text-align: center;
  text-transform: uppercase;
}

.subscribe__form-wrap {
  display: flex;
}

.subscribe__form-input {
  padding: 8px 23px;
  height: 49px;
  border: 0;
  font-size: 14px;
  background-color: #E1E1E1;
  border-radius: 32px 0 0 32px;
  flex-grow: 1;

  &:focus {
    border: 0;
  }
}

.subscribe__form-submit {
  height: 49px;
  padding: 5px 20px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  color: #fff;
  background-color: $pink;
  font-size: 14px;
  border: 0;
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .subscribe {
    background: url(../img/media/bg-subscribe.jpg) no-repeat center;
    background-size: cover;
  }
  .subscribe__inner {
    padding-top: 97px;
    padding-bottom: 137px;
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .subscribe__form {
    grid-column-start: 3;
  }
  .subscribe__form-title {
    margin-bottom: 4px;
  }
  .subscribe__form-text {
    margin-bottom: 25px;
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .subscribe {
    background: url(../img/media/bg-subscribe-m.jpg) no-repeat center;
    background-size: cover;
  }
  .subscribe__inner {
    padding-top: 65px;
    padding-bottom: 103px;
  }
  .subscribe__call {
    margin-left: auto;
    margin-bottom: 69px;
  }
  .subscribe__form-text {
    margin-bottom: 25px;
    font-size: 14px;
  }
}

@media (min-width: 700px) and (max-width: 991px) {
  .subscribe__call {
    width: 50%;
  }
  .subscribe__form {
    width: 50%;
    margin: 0 auto;
  }
}
