.b-btn {
  text-decoration: none;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  line-height: 16px;
  background: transparent;

  &.disabled,
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }
}

.b-btn__cart {
  height: 44px;
  padding: 6px 16px;
  border: 1px solid;
  color: #fff;
  font-size: 14px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;

  &:hover {
    color: $pink;

    .b-btn__cart-icon {
      fill: $pink;
    }
  }

  &:active {
    color: #fff;
    background-color: $pink;
    border-color: $pink;

    .b-btn__cart-icon {
      fill: #fff;
    }
  }
}

.b-btn__cart-icon {
  width: 26px;
  height: 24px;
  margin-left: -3px;
  margin-right: 11px;
  fill: #fff;
  transition: fill .3s ease-in-out;
}

.b-btn__light {
  height: 48px;
  padding: 15px 39px;
  border: 1px solid;
  color: $pink;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;

  &:hover {
    background-color: $pink;
    border-color: $pink;
    color: #fff;

    .b-btn__light-icon {
      fill: #fff;
    }
  }

  &:active {
    background-color: #fff;
    color: $pink;
    border-color: $pink;
  }
}

.b-btn__light-icon {
  width: 26px;
  height: 26px;
  margin-right: 22px;
  fill: #EF5B70;
  transition: fill .3s ease-in-out;
}

.b-btn__grey {
  height: 35px;
  padding: 1px 15px;
  border: 1px solid #4A4A4A;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.b-btn__primary {
  height: 50px;
  padding: 15px 39px;
  border: 1px solid;
  background-color: $pink;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;

  &:hover {
    background-color: $pink;
    border-color: $pink;
    color: #fff;

    .b-btn__light-icon {
      fill: #fff;
    }
  }

  &:active {
    background-color: #fff;
    color: $pink;
    border-color: $pink;
  }
}
