@font-face {
  font-display: swap;
  font-family: lato;
  src: url('../fonts/lato-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: lato;
  src: url('../fonts/lato-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: lato;
  src: url('../fonts/lato-normal-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: lato;
  src: url('../fonts/lato-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: lato;
  src: url('../fonts/lato-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
