.form__field {
  font-size: 13px;
  font-weight: 400;
  color: $blackColor;
  background: #fff;
  border: 1px solid #A4A4A4;
  height: 45px;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: .375rem 17px;
  background-clip: padding-box;
  transition: border-color .3s ease-in-out;

  &:focus,
  &:hover {
    outline: none;
    border: 0;
  }

  &:focus {
    border-color: $pink;
    background-color: #fff;
  }
}

.form__placeholder {
  @include hidePlaceholder {
    color: $blackColor;
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }

  &:focus {
    @include hidePlaceholder {
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
}

.form__group {
  margin-bottom: 20px;
}
